@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: "Pacifico", cursive;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Noto Sans", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
        }
        a {
            text-decoration: none;
        }
        main {
            max-width: 400px;
            margin: 0 auto;
            width: 100%;
        }
        .container {
            max-width: 370px;
            margin: 0 auto;
        }
}





header {
    position: relative;
    z-index: 1;

    background-color: #CEFEFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .main_block_with_back {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #F13F80;
        border-radius: 20px;

        .main_block {
            margin: 20px;
            width: 200px;
            height: 200px;
            background-color: white;
            border-radius: 20px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}