@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: "Pacifico", cursive;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Noto Sans", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
        body {
            max-width: 400px;
            margin: 0 auto;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
        }
        a {
            text-decoration: none;
        }
        main {
            max-width: 400px;
            margin: 0 auto;
            width: 100%;
        }
        .container {
            max-width: 370px;
            margin: 0 auto;
        }
}





header {
    // position: relative;
    // z-index: 1;

    background-color: #CEFEFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .main_block_with_back {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #F13F80;
        border-radius: 20px;
        // background-image: url("https://static.vecteezy.com/system/resources/previews/022/451/237/original/exploding-party-popper-with-confetti-bright-cartoon-birthday-cracker-3d-render-png.png");

        .cake {
            position: absolute;
            top: 96%;
            z-index: 3;
            width: 60%;
        }
        .rollos {
            position: absolute;
            top: -30%;
            left: -17%;
            z-index: 3;
            transform: rotate(-10deg);
            width: 60%;
        }
        .huppy {
            position: absolute;
            z-index: 3;
            top: -57%;
            right: 30%;
            width: 70%;
            transform: rotate(-10deg);
        }

        .main_block {
            position: relative;
            z-index: 5;
            margin: 20px;
            width: 250px;
            height: 250px;
            background-color: white;
            border-radius: 20px;
            font-family: "Pacifico", cursive;

            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;

            .confiti {
                position: absolute;
                top: -15%;
                left: 52%;
                z-index: 6;
                width: 50%;
                transform: rotate(10deg);
            }

            .main_block_text {
                .one {
                    font-weight: 500;
                    transform: translateY(10px);
                }
                h2 {
                    font-size: 50px;
                    font-weight: 500;
                    color:#F13F80;
                }
                .two {
                    font-weight: 500;
                    text-align: right;
                    transform: translateY(-17px);
                }
            }

            .main_block_textdown {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                h4 {
                    font-weight: 500;
                    font-size: 20px;
                    color: #2A79B1;
                }
                svg {
                    color: #2A79B1;
                }
            }
        }
    }
}





.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEFEFF;
    height: 930px;

    .first_section_blocks_with_back {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #F13F80;
        border-radius: 20px;

        .first_section_blocks {
            width: 300px;
            margin: 15px;
            background-color: white;
            padding: 15px;
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 35px;
            .heart {
                position: absolute;
                top: 113%;
                width: 7%;
                left: 54.3%;
            }
            .first_section_maintext {
                font-family: "Pacifico", cursive;
                h1 {
                    font-weight: 500;
                    font-size: 26px;
                }
                h2 {
                    font-weight: 400;
                    color: #F13F80;
                }
                h3 {
                    font-family: "Noto Sans", sans-serif;
                    font-size: 18px;
                    padding-top: 10px;
                }
            }

            .first_section_text {
                font-family: "Noto Sans", sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                .hr {
                    width: 100%;
                    height: 4px;
                    border-radius: 10px;
                    background-color:#F13F80;
                }
            }
        }
    }
}





.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEFEFF;
    height: 800px;
    color: white;

    .second_section_blocks_with_back {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #2A79B1;
        border-radius: 20px;

        .second_section_blocks {
            position: relative;
            width: 300px;
            margin: 15px;
            background-color: white;
            padding: 15px;
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 30px;
            color: black;
            .second_section_maintext {
                font-family: "Pacifico", cursive;
                h1 {
                    font-weight: 500;
                }
                h2 {
                    font-weight: 400;
                    color: #2A79B1;
                }
            }

            .second_section_text {
                font-family: "Noto Sans", sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                .hr {
                    width: 100%;
                    height: 4px;
                    border-radius: 10px;
                    background-color:#2A79B1;
                }
            }
        }
    }
}






.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEFEFF;
    height: 440px;

    .third_section_blocks_back {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #F13F80;
        border-radius: 20px;
        text-align: center;
        font-family: cursive;

        .third_section_blocks {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            background-color: white;
            border-radius: 20px;
            gap: 20px;
            margin: 13px;
            padding: 15px 0;
            height: 370px;
            h1 {
                font-size: 20px;
                font-weight: 400;
                line-height: 100%;
            }
            h2 {
                font-size: 18px;
                font-weight: 400;
                line-height: 100%;
            }
            img {
                width: 82%;
                transform: translateY(-20px);
            }
        }
    }
}