@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: "Pacifico", cursive;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Noto Sans", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;

        ul {
            list-style: none;
            display: flex;
            align-items: center;
        }
        a {
            text-decoration: none;
        }
        main {
            max-width: 400px;
            margin: 0 auto;
            width: 100%;
        }
        .container {
            max-width: 370px;
            margin: 0 auto;
        }
}





header {
    position: relative;
    z-index: 1;

    background-color: #CEFEFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .cake {
        position: absolute;
        top: 70%;
        z-index: 3;
        width: 40%;
    }

    .confiti {
        position: absolute;
        top: 26%;
        left: 52%;
        z-index: 2;
        width: 30%;
        transform: rotate(10deg);
    }

    .main_block_with_back {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #F13F80;
        border-radius: 20px;
        // background-image: url("https://static.vecteezy.com/system/resources/previews/022/451/237/original/exploding-party-popper-with-confetti-bright-cartoon-birthday-cracker-3d-render-png.png");

        .main_block {
            margin: 20px;
            width: 250px;
            height: 250px;
            background-color: white;
            border-radius: 20px;
            font-family: "Pacifico", cursive;

            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;

            .main_block_text {
                .one {
                    font-weight: 500;
                    transform: translateY(10px);
                }
                h2 {
                    font-size: 50px;
                    font-weight: 500;
                    color:#F13F80;
                }
                .two {
                    font-weight: 500;
                    text-align: right;
                    transform: translateY(-17px);
                }
            }

            .main_block_textdown {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                h4 {
                    font-weight: 500;
                    font-size: 20px;
                    color: #2A79B1;
                }
                svg {
                    color: #2A79B1;
                }
            }
        }
    }
}